<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <h1>Express App Powered By EJS</h1>
    <%- include('./partials/nav.ejs') %>
    
    <h2> About Page</h2>
    <p>
        Take your JavaScript skills to the server-side! Learn how to fully craft your site's backend using Express, the most popular back-end JavaScript framework! You will also learn how to use a non-relational database, MongoDB.
    </p>

    <%- include('./partials/footer.ejs') %>
</body>
</html>