<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <h1>Express App Powered By EJS</h1>
    <%- include('./partials/nav.ejs') %>

    <%- include('./partials/footer.ejs') %>
</body>
</html>